
#content {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#new-game {
	margin-top: 10px;
	margin-bottom: 10px;
}

#messages {
	height: 200px;
	overflow: auto;
	background-color: #eee;
	margin-bottom: 1em;
	margin-right: 300px;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 100pt;
	border: thin black solid;
}		

#top-list {
	float: right;
	width: 250px;
	min-height: 300pt;
	border: thin black solid;
	background-color: #f3f3f3;
	padding-left: 10pt;
	padding-right: 10pt;
}

#score {
	border: thin white solid;
}