@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e7e7e7;
}

h1, h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

/* Container */
#content {
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	background-color: aliceblue;
	padding: 15px;
}

#title {
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #7fbbff;
	border: thin azure solid;
}

#status-box {
	grid-column: 2 / 4;
	grid-row: 1;

	border: thin #ff907f solid;
	border-radius: 5px;
	background-color: #ffd07f;
	/* padding-left: 10pt; */
	/* padding-right: 10pt; */
}

#matrix {
	grid-column: 1;
	grid-row: 1;
	border-radius: 5px;
}

#info {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	border-radius: 5px;

	background-color: #ff907f;
	border: thin azure solid;
}

#text {
	padding-left: 10px;
	padding-right: 10px;
}

#error-box {
	border: thin black solid;
	clear: both;
	background-color: red;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 100pt;
	margin-top: 20px;
	display: none;
}

#circle0 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle1 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle2 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle3 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle4 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle5 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle6 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle7 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle8 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #0000FF;
}

#circle9 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle10 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #00F000;
}

#circle11 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle12 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #00F000;
}

#circle13 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #008000;
}

#circle14 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #00F000;
}

#circle15 {
	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #FF0000;
}

